<div block-ui="modalConfirmationBlock"
     class="deletion-modal">
    <div class="row">
        <h5 class="section-title upper text-center"
            translate>ORDER.SERVICE.UNSUBSCRIBE-MODAL.HEADER</h5>
    </div>
    <div class="row">
        <h6 class="text-center"
            translate>ORDER.SERVICE.UNSUBSCRIBE-MODAL.UNSUBSCRIBE_MESSAGE</h6>
    </div>
    <div class="row">
        <ul class="button-group text-right device-modal-button-group">
            <li class="button light"
                ng-click="cancel()"
                translate="SHARED.MODAL-CONFIRMATION.BUTTON-CANCEL">
            </li>

            <li type="submit" class="button"
                ng-click="ok()"
                translate="ORDER.SERVICE.UNSUBSCRIBE">
            </li>
        </ul>
    </div>
</div>

