<!-- Modal -->
<div class="cv-modal">

  <form novalidate ng-submit="passwordReset(username)" name="resetpasswordform">

    <div class="header">
      <h4 translate>LOGIN.FORGOT_PASSWORD_MODAL.TITLE</h4>
      <div class="button-group right">
        <button class="button dark" ng-click="cancel()" translate>SHARED.MODAL-CONFIRMATION.BUTTON-CANCEL</button>
        &nbsp;
        <button type="submit" class="button light" ng-click="updateUserSelectedDevices()" translate>SHARED.MODAL-CONFIRMATION.BUTTON-SAVE</button>
      </div>
    </div>

    <div class="content-container">

      <p class="description" translate>LOGIN.FORGOT_PASSWORD_MODAL.BODY</p>

      <div style="position:relative;">
        <div style="display:inline-block">
          <label class="input-label" for="forgotPasswordFormUsername" translate>SHARED.INPUT.EMAIL_ADDRESS</label>
        </div>
        <div style="display:inline-block">
          <input class="input-box"
                 ng-model="username"
                 cv-input
                 autofocus
                 required
                 type="email"
                 id="forgotPasswordFormUsername"
                 placeholder="{{'SHARED.INPUT.PLACEHOLDER.EMAIL' | translate}}"/>
        </div>
      </div>
    </div>

  </form>
</div>
