<div class="ordering-header"
        id="ordering-header">

    <div class="title-container">
        <h3>{{title}}</h3>
    </div>


    <div ng-if="showBasket.all" class="basket-container">
        <div class="basket-table">
            <div class="basket-image">
                <i class="icon wl-icon-menu_ordering"></i>
            </div>

            <div class="basket-subtotal">
                <div class="price-container">
                    <div class="price">{{serviceTotal | currency: currency | removeDecimal}}/{{serviceChargeUnit}}</div>
                    <div class="price-info">{{"ORDER.SHARED.SERVICE_SUBTOTAL" | translate}}</div>
                </div>

                <div ng-if="showBasket.device" class="price-container">
                    <div class="price">{{deviceTotal | currency: currency | removeDecimal}}/{{deviceChargeUnit}}</div>
                    <div class="price-info">{{"ORDER.SHARED.DEVICE_SUBTOTAL" | translate}}</div>
                </div>
                <div ng-if="installTotal > 0" class="price-container">
                    <div class="price">{{installTotal | currency: currency | removeDecimal}}</div>
                    <div class="price-info">{{"ORDER.SHARED.INSTALL_SUBTOTAL" | translate}}</div>
                </div>
            </div>

        </div>
    </div>

</div>
