<section class="login-main">

  <img class="login-logo" ng-src="customization/images/telco-logo-white.png" src="customization/images/telco-logo.png">

  <div class="login-container">

    <h1 class="title" translate>{{title}}</h1>

    <div class="login-inner-container">

      <form ng-submit="updatePassword(resetId, password)" class="login-form" name="resetPasswordForm">

        <div class="login-table">
          <div class="login-table-row">
            <div class="login-left-cell"><label translate class="login-form-label">SHARED.INPUT.USERNAME</label></div>
            <div class="login-right-cell"><span class="login-form-label">{{username}}</span>
            </div>
          </div>
          <div class="login-table-row">
            <div class="login-left-cell"><label class="login-form-label" for="input-password" translate>PASSWORD_RESET.NEW_PASSWORD</label></div>
            <div class="login-right-cell"><input cv-input  autofocus required ng-model="password" id="input-password" type="password"></div>
          </div>
          <div class="login-table-row">
            <div class="login-left-cell"><label class="login-form-label" for="confirm-password" translate>PASSWORD_RESET.CONFIRM_PASSWORD</label></div>
            <div class="login-right-cell">
              <input cv-input="{ match: 'shared.input.error.password.mismatch' }" name="confirmPassword" required ng-model="confirmPassword" id="confirm-password"  type="password" data-match="password">
            </div>
          </div>
          <div class="login-table-row">
            <div class="login-left-cell">&nbsp;</div>
            <div class="login-right-cell">
              <button type="submit" ng-disabled="resetPasswordForm.$invalid" class="button login-form-button" translate>PASSWORD_RESET.UPDATE</button>
            </div>
          </div>
        </div>

      </form>

      <div class="login-help">
        <span translate>PASSWORD_RESET.PASSWORD_SUGGESTIONS.TITLE</span>
        <ul>
          <li translate>PASSWORD_RESET.PASSWORD_SUGGESTIONS.1</li>
          <li translate>PASSWORD_RESET.PASSWORD_SUGGESTIONS.2</li>
          <li translate>PASSWORD_RESET.PASSWORD_SUGGESTIONS.3</li>
          <li translate>PASSWORD_RESET.PASSWORD_SUGGESTIONS.4</li>
          <li translate>PASSWORD_RESET.PASSWORD_SUGGESTIONS.5</li>
        </ul>
      </div>

    </div>

  </div>

</section>
